
#Footer {
    background-image: url("../img/galeria/Fondo final.png");
    background-size: cover;   
    height: 30vh;
}

.Icono {
    width: 5%;
    margin: 5px;
}

#Manos {
    transform: translate(680%,100%);
}

#Redes {
    transform: translate(680%,90%);
}


@media screen and (max-width: 767px) {
    #Footer{
        height: 182px;
     }
   }
   @media screen and (max-width: 320px) {
    #Footer{
        margin: -1px -971px 0px 0px;
        height: 298px;
    }
  }