.Inicio{
    background: url(../img/inicio/FondoI\ .png ) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover; 
}
.btnH{
    border-radius: 21px 21px 21px 21px;
    color: black; 
    background: rgba(255, 255, 255, 0);    
}
@media screen and (max-width: 320px) {
  a.btnH{
      width: 456px;
      height: 177px;
      font-size: 66px;
  }
}

.Algarabia{
    color: #FFF;

}


@media screen and (min-width: 600px) {
    div.Algarabia {
        font-size: 6vw;
    }
  }
  
  @media screen and (max-width: 799px) {
    div.Algarabia {
        font-size: 53px;
        margin-top: 0%
    }
  }

  @media screen and (max-width: 320px) {
    div.Algarabia {
      font-size: 125px;
  
    }
  }

  @media screen and (max-width: 320px) {
    div.Inicio {
      font-size: 78px;
      margin-top: 0%;
      height: 251px;
      width: 1297px;
  
    }
  }

/*************************************************/
  .subTitulo{
    color: #FFF;
 
  }


  @media screen and (min-width: 767px) {
    div.subTitulo {
        font-size: 20px;
        margin-top: 5%;
    }
  }
  
  @media screen and (max-width: 991px) {
    div.subTitulo {
        margin-top: 9%;
        font-size: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    div.subTitulo  {
    font-size: 35px;
    margin-top: 245px;

    }
  }



.ContInicio{
    opacity: 0.9;
    background-image: url(../img/inicio/Fondo-\ INICIO.png);
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover; 

}



.slice {
    
    background-color: #C0C0C0;
    opacity: 0.8;
    color: rgb(0,0,0);
    padding: 25px;
}
@media screen and (max-width: 767px) {
    div.slice {
        margin:25px -37px;
        margin-top: 3%;
        font-size: -1vw;
        padding: 41px;
    }
  }

  @media (min-width: 991px) { 
    div.slice {
        margin-top: 1%;
        font-size: -1vw;
        padding: 25px;
    }
  }
 



.Cuadro {
    margin:64px 17px;
    border: 1px solid white;
    padding: 15px; 
}

@media screen and (max-width: 767px) {
    div.Cuadro {
        margin:25px -37px;
        margin-top: 3%;
        font-size: -1vw;
    }
  }

  @media (min-width: 991px) { 
    div.Cuadro {
        margin-top: 2%;
        font-size: -1vw;
    }
  }

  @media screen and (max-width: 320px) {
    div.Cuadro  {
      margin-top: 2%;
      margin: 20px 18px 286px 4px;
    
    }
  }

  .infoSlice{
    margin-top: -1px;
  }

  .infoSlice P{
    text-align: justify;
  }

  @media screen and (max-width: 320px) {
    div.infoSlice h2 {
        margin: 9px 41px;
        margin-top: 3%;
        font-size: 99px;

    }
  }
  @media screen and (max-width: 320px) {
    div.infoSlice p b {
      display:none;

    }
  }

  @media screen and (max-width: 767px) {
    div.infoSlice {
        margin: 9px 41px;
        margin-top: 3%;

    }
  }

  
  @media (min-width: 991px) { 
    div.infoSlice {
        margin-top: 2%;
        font-size: -1vw;
    }
  }
  @media screen and (max-width: 767px) {
    div.infoSlice P {
        margin: 9px -75px 25px -212px;
        margin-top: 3%;
        font-size: 20px;

    }
  }
  @media screen and (max-width: 991px) {
    div.infoSlice P {
        margin: 9px -75px 25px -212px;
        margin-top: 27%;
        font-size: 20px;

    }
  }




.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}


#nuevo-logo{
    max-width: 60px;
    max-height: auto;
    margin: auto;
}

@media screen and (max-width: 320px) {
  #nuevo-logo  {
    max-width: 132px;

  }
}


#Libro {
    width:260px;
    margin: 0px 25px;
    height: auto;
}

@media screen and (max-width: 767px) {
    #Libro {
        width: 173px;

    }
  }

  @media (min-width: 991px) { 
    #Libro {
        margin-top: 2%;
        font-size: -1vw;
    }
  }
  
  @media (min-width: 320px) { 
    #Libro {
        margin-top: 2%;
        width: 100%;
    }
  }


#LogoAmazon, #LogoMercado, #LogoUphold {
    width: 193px;
    margin: 6px -6px 10px 97px;
}

@media screen and (max-width: 767px) {
    #LogoAmazon, #LogoMercado, #LogoUphold {
        width: 173px;
        margin: 14px 30px 6px 8px

    }
  }
  @media screen and (max-width: 991px) {
    #LogoAmazon, #LogoMercado, #LogoUphold {
        width: 173px;
        margin: 14px 30px 6px 8px

    }
  }


  @media screen and (max-width: 320px) {
    #LogoAmazon, #LogoMercado, #LogoUphold {
      width: 731px;
      margin: 14px 0px 28px 202px;

    }
  }

.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
        su tamaño con scale(2). */
        transform : scale(1.3);
        -moz-transform : scale(1.3);     
        -webkit-transform : scale(1.3);   
        -o-transform : scale(1.3);       
    }

.landing-text h1, h6{
    color: #ffffff;
}

.landing-text h1{
    font-size:500%;
    font-weight: 700;
    
}